## Dataset pre_process 

1. Load the dataset 
2. Remove the columns that are not needed
3. Dataset preprocessing 
   1. convert to lower case 
   2. remove numbers 
   3. remove breket 
   4. stopwords removal
   5. stemming

In [5]:
import re
import os
from src.utils import * 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string
from nltk.stem import PorterStemmer 
nltk.download('stopwords')
stopwords = stopwords.words('english')
from sklearn.preprocessing import OneHotEncoder

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Amzad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
data_dir = os.path.join(os.getcwd(), 'data/Resume.csv')
df = pd.read_csv(data_dir)

In [10]:
tagets=df[["Category"]]
one_enc=OneHotEncoder() #one hot encoder
tagets=one_enc.fit_transform(tagets).toarray()
df['Category']= tagets
     
df.head()

         ID                                         Resume_str  Category
0  16852973           HR ADMINISTRATOR/MARKETING ASSOCIATE\...       0.0
1  22323967           HR SPECIALIST, US HR OPERATIONS      ...       0.0
2  33176873           HR DIRECTOR       Summary      Over 2...       0.0
3  27018550           HR SPECIALIST       Summary    Dedica...       0.0
4  17812897           HR MANAGER         Skill Highlights  ...       0.0

In [3]:
df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [4]:
df= df[["ID","Resume_str","Category"]]

In [5]:
resume=df["Resume_str"]

In [6]:
x=resume.apply(remove_extra_spaces)

In [7]:
def remove_breket(text):
    text = text.replace(']', '').replace('[', '').replace("'", "").replace('(', '').replace(')', '').replace('/', '')
    return text

In [8]:
x=x.apply(remove_breket)

In [9]:

def remove_breket(text):
    text = text.replace(']', '').replace('[', '').replace("'", "").replace('(', '').replace(')', '').replace('/', '').replace("|",'').replace('-','')
    return text

In [10]:
def remove_numbers(text):
    text = re.sub(r'\d+', '', text)
    return text

In [11]:
x=x.apply(remove_numbers)

In [12]:
x=x.apply(remove_breket)

In [13]:
x=x.apply(remove_extra_spaces)

In [14]:
def lower_case(text):
    return text.lower()

In [15]:
x=x.apply(lower_case)

In [16]:
x[77]

'hr business partner summary proactive human resources business partner guiding performance management, talent planning and benefits. decisive with proven success providing employee relations support and oversight for efficient operations. extensive knowledge and experience developing code of business conduct and ethics policies. skills leadership development collaborative organization and efficiency exemplary verbal and written communication time management conflict mediation selfstarter hr experience in technology field professional experience hr business partner company name city , state served as the primary point of contact for the hr department for each assigned network by providing direct assistance or connecting them with the appropriate hr specialist. advised supervisors and management in performance management strategies and interventions, including reviews of disciplinary procedures and actions and recommendations for separations of employment. assisted with formal and informal inquiriesand investigations in conjunction with external legal counsel as necessary. identified areas of opportunity for change initiatives that will positively influence assigned network performance and success. worked with assigned networks leadership to develop strategies and interventions for problems areas, such as turnover and compliance with training, evaluations, and other employment related requirements. assisted and advised network leadership on departmental structure and job creation and analysis, including editing of job descriptions and developing appropriate wages. served as hr representative in crossfunctional agency projects and initiatives by connecting hr solutions with assigned networks needs to ensure alignment with agency values and strategic objectives. ensured adequate staffing levels for assigned networks and develops strategies, in conjunction with the recruitment and hiring team, to recruit qualified staff. interpreted and explained human resources policies, procedures, laws, standards, andor employment regulations to employees and management in assigned networks. served as employee advocate by meeting with employees and addressing concerns. collaborated with other hr business partner frequently to ensure alignment of practices across agency and to share resources and ideas. reviewed and analyzed metrics and data; provides recommendations based on findings to executive management as needed. reported quarterly to the human resources manager on key performance indicators, strategies and initiatives, employee relations actions taken, and other items as assigned. maintained current knowledge of human resources federal and state laws including equal employment opportunity eeo, ada, affordable care act aca, wage and hour, family medical leave act fmla, userra, etc. sr. hr consultant and ta specialist company name city , state developed staffing strategies to fill vacancies and define position allocations. reviewed referral candidates and contacted qualified individuals to request applications. planned and executed recruitment events to bring in area candidates. facilitated organizational development initiatives to conduct performance management and talent assessment. implemented employee engagement and development activities, presentations and training to maximize productivity and unite workforce. listened to clients needs and assisted with identifying and securing appropriate services. human resources consultant iv company name city , state established measures to promote diversity and drive equal access to opportunity and advancement. facilitated strategies planning through effective partnerships with leaders. aided senior leadership during executive decisionmaking process, generating daily human resources reports on metrics and policies to recommend corrective actions and improvements. advised leadership on hrrelated issues, including vacation and sick time, benefits, job services and employment discrepancies. developed hiring and recruitment policies to drive transparent and fair hiring process for selecting candidates on basis of merit and relevance with job. performed sensitive and confidential investigations into misconduct issues in workplace, detailing all incidents in reports. liaised between employees and senior leadership to address inquiries, complete contract processing and foster problem resolution. principal consultant company name city , state built a successful consulting business serving private and public sector businesses. marketed business in anchorage and juneau, alaska and phoenix, arizona. established excellent rapport and professional relationships with business leaders. created marketing materials, drafted proposals and bid on contracts. of the bids submitted, % were awarded. initially, offered organizational management and talent acquisition services. additional services provided: training for management and staff from completing a time card and payroll processes to change management. facilitated discussions informal mediation services. set up performance and absence management expectations, policies, processes and tracking. counseled staff, performed workplace investigations, drafted findings and supported management through the corrective action process. education and training alaska pacific university city , state bachelor of arts : organizational management, human resources additional information organized, strong attention to detail, dedicated and committed to excellence computer literacy proficient in microsoft suite word, excel, powerpoint, outlook various oracle based hris, budget and accounting software and databases'

In [17]:
import nltk

from nltk.corpus import stopwords
import string
from nltk.stem import PorterStemmer 
nltk.download('stopwords')
stopwords = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Amzad\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
def remove_stopwords(text):
    text = [word for word in word_tokenize(text) if word not in stopwords]
    return " ".join(text)

In [19]:
nltk.download('punkt')


def remove_punct(text):
 return [word for word in text if word not in string.punctuation]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Amzad\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [20]:
x=x.apply(remove_stopwords)

In [21]:


def snowball_stemmer(text):
    return ' '.join([sb.stem(word) for word in word_tokenize(text)])

In [22]:
x=x.apply(snowball_stemmer)

In [23]:
df.head()

         ID                                         Resume_str Category
0  16852973           HR ADMINISTRATOR/MARKETING ASSOCIATE\...       HR
1  22323967           HR SPECIALIST, US HR OPERATIONS      ...       HR
2  33176873           HR DIRECTOR       Summary      Over 2...       HR
3  27018550           HR SPECIALIST       Summary    Dedica...       HR
4  17812897           HR MANAGER         Skill Highlights  ...       HR

In [25]:
# dataframe with resusme : x and category : df['category']] 
df2 = pd.DataFrame({'resume': x, 'category': df['Category']})
df2.head()

                                              resume category
0  hr administratormarket associ hr administr sum...       HR
1  hr specialist , us hr oper summari versatil me...       HR
2  hr director summari year experi recruit , plus...       HR
3  hr specialist summari dedic , driven , dynam y...       HR
4  hr manag skill highlight hr skill hr depart st...       HR

In [26]:
resume=df2['resume']

x=resume.apply(remove_numbers)

In [27]:
#save to csv file 
df2.to_csv('./data/data(V-0.1).csv', index=False)

In [36]:
from sklearn.preprocessing import OneHotEncoder

target= df[['Category']]
# One hot encoding 
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(target.values.reshape(-1,1)).toarray())
# enc_df.columns = enc.get_feature_names(['Category'])
# df = df.join(enc_df)

NameError: name 'target2' is not defined

In [32]:
enc_df.columns = enc.get_feature_names(['Category'])
df3 = df.join(enc_df)
df3.drop(['Category'], axis=1, inplace=True)
df3.head()

AttributeError: 'OneHotEncoder' object has no attribute 'get_feature_names'

In [28]:
x[2]

'hr director summari year experi recruit , plus year human resourc execut manag , year hris develop mainten year work healthcar enviro skill recruit fmlaeeoflsa hris develop benefit administr polici develop web page develop accomplish kansa health institut health outcom state kansa membership accolad : project manag institut member , shrm , chamber commerc , friend univers presid honor roll , friend univers dean honor roll , student liaison friend univers topeka member mothertomoth , member topeka advertis feder , sever product piec creat nomin addi award , receiv recognit outstand custom servic assist state kansa travel tourism depart . , ashhra , kahhr , acm . addit inform : lead chang instrument develop implement adjut general retent research project , involv survey develop analyz result survey present adjut general help retain qualifi talent depart . task work feder secur manag joint forc headquart develop polici , procedur process ensur current new state employe appropri secur clearanc posit held per feder govern requir . lmis , lead job vacanc project abl produc result less time man hour year staff inexperienc jvc process procedur . respons develop , plan implement databas program , last three posit held . design cultiv , involv , renew contact , promot activ potenti employe . databas use report fte usag , budget manag turnov report . work healthcar field , took initi creat local websit use receiv respond request inform assist market promot healthcar facil along recruit potenti employe . human resourc coordin healthcar field , manag front offic personnel , reduc contract labor cost nurs staff implement uniqu pay structur increas prn staff util . continu think `` outsidethebox `` creat develop strategi resolv issu face work environ . current posit , met exceed hire goal firm . result client increas busi transfer locat . experi hr director current compani name citi , state develop new websit agenc , payrol process chang , implement new hris system . oversaw employ process take lead role clinician , physician manag team recruit initi . develop , maintain interpret hr polici . author employe handbook . provid coach support manag supervisor perform manag relat issu . maintain indepth knowledg legal requir relat daytoday manag employe , reduc legal risk ensur regulatori complianc . evalu recommend chang employe benefit plan . oversaw day day administr benefit . hr director compani name citi , state develp supervisori educ , shro websit , shro hris system autom payrol process . establish direct comprehens statewid human resourc program classifi unclassifi state employeesposit adjut general depart . resolv nonroutin hr relat issu associ aros ; review document approv hire promot ; review approv , modifi andor disapprov wagesalari request hire individu preestablish minimum classifi unclassifi pay rate , review signific chang posit descript determin reclassif pursu ; review posit descript new posit determin appropri wage rang base compar classifi posit exist , consult tag militari state manag supervisor order provid technic common sens guidanc proper address sensit complex employe organiz issu ; aid achiev ever chang program goal provid innov idea staf ; serv administr manag repres labor negoti local kape unit th fire depart . hr managersr . recruit compani name citi , state creat hris track system use recruit . respons ramp hire custom servic agent , posit need . placement develop advertis met exceed hire goal . respons hire senior manag cover duti : team manag , payrol , qualiti control . respons recruit new employe , meet exceed goal set . coordin facilit manpow plan , recruit retent , career develop train , staff relat , compens benefit , complianc local , state feder statutori regul , public program , regulatori audit procedur . serv resourc person administr , midlevel manag staff regard hr relat . human resourc coordin compani name citi , state develop hris databas ground employe record monitor . instrument reduc use agenc staf need hospit . coordin facilit manpow plan , recruit retent , career develop train , staff relat , compens benefit , complianc local , state feder statutori regul , public program , regulatori audit procedur . serv hr resourc sourc administr , midlevel manag staff . coordin hire procedur , apprais , pay increas , promot , transfer , termin , job post , correct action ; one person offic , respons osha , work comp , benefit , payrol , etc . educ train master degre : inform manag system friend univers citi , state , unit state . credit earn : semest hour inform manag system bachelor scienc : organiz manag friend univers citi , state , unit state . credit earn : semest hour activ honor topeka chamber commerc ambassador kansa hospit associ health care human resourc member shrm legisl liaison skill desktop publish , newslett product , databas manag , leadership train , osha , fmla , worker compens . pagemak , agenc autom , backup , benefit , budget manag , corel suit , harvard graphic , access , excel , microsoft publish , ms word , quark express , quattro pro , strateg plan , web page develop , wordperfect'